HOST=127.0.0.1
PORT=3333
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
CACHE_VIEWS=false
APP_KEY=2wsjLSopTjD6WQEztTYIZgCFou8wpLJn
DB_CONNECTION=sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=adonis
SESSION_DRIVER=cookie
MAILGUN_DOMAIN=sandbox5bd94a0301c945dfa8b77942025b381a.mailgun.org
MAILGUN_API_KEY=key-e1ab5bc9fa9801d65bfbf978c46cd792
